html {
	font-size: 100%;
}

body {
  margin: 0;
  background-image: url('images/wood.png');
  font-family: 'Newsreader', serif;
}

#navbar {
	background-color: #922F40;
	position: fixed;
	top: 0;
	width: 50%;
	margin-left: 25vw;
	border-radius: 0 0 15px 15px;
  z-index: 2;
}

#welcome-section {
	height: 100vh;
}

.menu {
  list-style: none;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 1.6em;
  display: flex;
	justify-content: space-evenly;
}

li a:link, footer a:link {
  text-decoration: none;
  color: #F3D3D9;
  padding: 1.6em;
}

li a:visited {
  color: #D39CA5;
}

li a:hover {
  background-color: #702433;
}

li a:active {
  color: #fff;
  background-color: #B04A57;
}

@media screen and (max-width: 1400px) {
  #navbar {
    width: 90%;
    margin-left: 5vw;
  }
  li a:link {
    padding: 1em;
  }
}

h1 {
	text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-weight: 200;
  padding-top: 40vh;
  margin: 0;
  font-size: 3em;
  color: white;
}

h2 {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 3em;
  padding: 1em;
  margin: 0;
}

#projects {
  padding: 3em;
  margin-top: 6em;
}

#projects h2 {
  color: #922F40;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(367px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 3em;
  grid-gap: 2rem;
  box-sizing: border-box;
  position: relative;
}

.project-tile, .project-tile img  {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.project-tile img {
  border-radius: 10%;
  border: 6px inset #F1C38E;
}

.description {
  position: absolute;
  background-color: #922F40;
  top: 41%;
  left: -41%;
  color: #fff;
  padding: 1em;
  font-family: 'Barlow';
  font-size: 1.5em;
  width: 75%;
  text-align: center;
  opacity: 0; 
  margin: 0 50%;
  border-radius: 50px;
  box-shadow: inset -5px -11px 0px 0px hsl(0deg 51% 10% / 59%); 
}

.gallery a:hover .description {
  opacity: 1;
  animation-name: pop;
  animation-duration: 300ms;
}

@keyframes pop {
  0% {
    top: 40%;
  }
  60% {
    top: 42%;
    box-shadow: inset -1px -4px 0px 0px hsl(0deg 51% 10% / 59%);
  }
  100% {
    top: 41%;
    box-shadow: inset -5px -11px 0px 0px hsl(0deg 51% 10% / 59%);
  }
}

.gallery a:active .description {
  opacity: 1;
  background-color: #B04A57;
}

.show-all {
  width: 100%;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 2.5em;
  text-decoration: none;
  color: black;
}

#profile-link {
  color: #922F40;
}

#profile-link:hover {
  color: #F3D3D9;
}

#profile-link:active {
  color: #fff;
}

#profile-link:visited {
  color: #702433;
}

#contact img {
  width: 2.5rem;
  height: auto;
  padding-left: 0.3rem;
}

footer {
  background-color: #922f40;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  padding: 1.6em 0 1.6em 0;
  text-align: center;
  float: left;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: #fff;
}

footer a:visited {
  color: #D39CA5;
}

@media screen and (max-width: 878px) {
  .gallery {
  max-width: 500px;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  }
  #projects {
    padding: 2em;
  }
  .menu {
    font-size: 1em;
  }
  li a:link {
    padding: 0;
  }
  footer a:link {
    padding: 0.6em;
  }
  h1 {
    padding: 40vh 1em 0 1em;
  }
  h2 {
    font-size: 2.5em;
    margin-top: 1em;
  }
  .description {
    font-size: 2em;
    top: 38%;
    left: -42%;
    opacity: 1;
    border-radius: 0;
  }
}

@media screen and (max-width: 534px) {
  .description {
    font-size: 1em;
    top: 7rem;
    left: -8em;
    min-width: 80%;
    opacity: 1;
    border-radius: 0;
  }
}